<div class="max-w-4xl mx-auto flex flex-shrink-0 -translate-y-5">
  <a
    class="flex-1 h-14 flex items-center justify-center text-white hover:bg-sky-200 hover:text-black font-medium text-lg bg-[#1D3380]"
    href="#about">About</a
  >
  <a
    class="flex-1 h-14 flex items-center justify-center text-white hover:bg-sky-200 hover:text-black font-medium text-lg bg-[#008BD2]"
    href="#video">Video</a
  >
  <a
    class="flex-1 h-14 flex items-center justify-center text-white hover:bg-sky-200 hover:text-black font-medium text-lg bg-[#9AC06A]"
    href="#sponsors">Sponsors</a
  >
  <a
    class="flex-1 h-14 flex items-center justify-center text-white hover:bg-sky-200 hover:text-black font-medium text-lg bg-[#60B1E3]"
    href="#getinvolved">Get Involved</a
  >
</div>
