<div class="max-w-4xl mx-auto flex flex-shrink-0 -translate-y-5">
  <a
    class="flex-1 h-10 flex items-center justify-center text-sm text-white hover:bg-sky-200 hover:text-black font-medium bg-blue-900"
    href="#about">About</a
  >
  <a
    class="flex-1 h-10 flex items-center justify-center text-sm text-white hover:bg-sky-200 hover:text-black font-medium bg-sky-600"
    href="#video">Video</a
  >
  <a
    class="flex-1 h-10 flex items-center justify-center text-sm text-white hover:bg-sky-200 hover:text-black font-medium bg-cyan-600"
    href="#why">Why</a
  >
  <a
    class="flex-1 h-10 flex items-center justify-center text-sm text-white hover:bg-sky-200 hover:text-black font-medium bg-lime-600"
    href="#what">What</a
  >
</div>
