---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import conferenceImage from '~/assets/images/team-members.png';

const metadata = {
  title: 'About the conference',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About the conference"
    image={{
      src: conferenceImage,
      alt: 'People in a room',
    }}
  >
    <Fragment slot="title">
      Bringing the best experts in Microsoft technology to the UK <br />
      <span class="text-accent dark:text-white highlight"> soon...</span>
    </Fragment>

    <Fragment slot="subtitle">
      Bringing together the best of Microsoft and the Community across the Microsoft Tech Stack. Stay tuned for more
      information of when and what!
    </Fragment>
  </Hero>
</Layout>
