---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About the conference',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About the conference"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Bringing the best experts in Microsoft technology to the UK <br />
      <span class="text-accent dark:text-white highlight"> soon...</span>
    </Fragment>

    <Fragment slot="subtitle">
      Bringing together the best of Microsoft and the Community across the Microsoft Tech Stack. Stay tuned for more information of when and what!
    </Fragment>
  </Hero>

</Layout>
