---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import conferenceImage from '~/assets/images/conference.png';

const metadata = {
  title: 'About the conference',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About the conference"
    image={{
      src: conferenceImage,
      alt: 'People in a room',
    }}
  >
    <Fragment slot="title">
      Bringing the best experts in Microsoft technology together <br />
      <span class="text-accent dark:text-white highlight"> Coming April 2025...</span>
    </Fragment>

    <Fragment slot="subtitle">
      Bringing together the best of Microsoft and the Community across the Microsoft Tech Stack. Experts Live is where the community meets.
    </Fragment>
  </Hero>
</Layout>
