---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import ELMapLogo from '~/assets/images/expertslivemap.jpg';
import AdvaniaLogo from '~/assets/images/advania_uk_logo.jpg';
import PerformantaLogo from '~/assets/images/performanta_logo.jpg';
import { Image } from 'astro:assets';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Speakers from './speakers.astro';

const metadata = {
  title: 'Experts Live UK',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
   title="Experts Live UK - Community Events around Microsoft technologies"
    subtitle="Join us for our first User Group on 20th June 2024, London UK"
    image={{ src: ELMapLogo, alt: 'Conference Image', width: '700px', height: '300px' }}
     actions={[
      {
        variant: 'primary',
        text: 'Register here',
        href: 'https://e.runevents.net/user-group-june-2024/checkout',
        target: '_blank',
      },
      { text: 'Learn more', href: '/usergroup' },
    ]}
  >
  </Hero>
  
  <CallToAction
    title="About Experts Live UK"
    subtitle="Experts Live UK is a non-profit organization based in the United Kingdom that has a mission to “enable sharing of knowledge and experience about Microsoft technologies worldwide”. Inspired by Experts Live events globally, we are focusing on Microsoft ecosystem to increase the diversity in the Community. We are bringing speakers from different areas such as AI, Azure, Microsoft 365, Business Applications, Data Platform, Security, Hybrid and many others."
    actions={[
      {
        variant: 'primary',
        text: 'About Us',
        href: '/about',
        icon: 'tabler:arrow-big-right-filled',
      },
    ]}
  />

  <h1></h1>
  <Speakers class="speaker-circle" speakers={[
    {
      name: 'Amy Boyd@Microsoft',
      topic: 'Responsible AI',
      image: 'src/assets/images/amyboyd.jpg'
    },
    {
      name: 'Steve Goodman@Advania',
      topic: 'AI in the Modern Workplace',
      image: 'src/assets/images/stevegoodman.jpg'
    }
  ]} />

  <Features
    title="Why Attend?"
    items={[
      {
        title: 'Learn',
        description: 'From the experts across modern work, platform, security and more.',
      },
      {
        title: 'Network',
        description: 'Meet like-minded professionals and share knowledge.',
      },
      {
        title: 'Experience',
        description: 'Gain insights into the latest technologies and trends.'
      },
    ]}
  />


  <Content title="Sponsors">
    <Fragment slot="content">
      <div class="flex justify-center items-center"> <!-- Add items-center -->
        <div class="flex justify-center flex-col items-center mr-8">
          <Image
            src={AdvaniaLogo}
            alt="Sponsor - Advania"
            class="mx-auto w-50 h-50"
          />
          <p class="mt-4 text-center">Advania</p>
        </div>
        <div class="flex justify-center flex-col items-center mr-8">
          <Image
            src={PerformantaLogo}
            alt="Sponsor - Advania"
            class="mx-auto w-50 h-50"
          />
          <p class="mt-4 text-center">Performanta</p>
        </div>
        <div class="flex justify-center flex-col items-center">
          <div class="border-2 border-gray-300 w-50 h-50 mx-auto flex items-center justify-center">
            <p>This could be you!</p>
          </div>
        </div>
      </div>
    </Fragment>
  </Content>
  </Layout>
