---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Experts Live UK',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Register for more info',
        href: 'https://www.expertslive.co.uk',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Learn from the experts
      <span class="text-accent dark:text-white highlight"> across cloud, data & AI, datacenter, security, and modern workplace</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">In person</span> user groups and working towards a huge UK conference.</span>
        Suitable for new learners, established consultants and anyone wanting to learn more.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="What is Experts Live UK?"
    items={[
      {
        title: 'User Group',
        description: 'Quarterly user group based in London with each evening themed on a particularly topic, bringing speakers from across Microsoft and the wider community to talk on topics across the Microsoft stack.',
      },
      {
        title: 'Conference',
        description: 'UK based conference focused on all Microsoft Technologies and bringing global talent to share the latest news and deep insights.',

      }
    ]}
  />

  <!-- Content Widget ******************* -->

  <Content
    title="About Experts Live UK"
    content="Experts Live UK is a IT conference on Microsoft Azure, Microsoft 365, and more. Join us for a day of deep-dive sessions and workshops on the Microsoft technologies you use every day."
  />

  <!-- Call to Action Widget ******************* -->

  <CallToAction
    title="Want to learn more?"
    subtitle="Sign up for our mailing list to hear the latest information."
    actions={[
      {
        variant: 'primary',
        text: 'Register now',
        link: '/register',
      },
    ]}
  />
</Layout>