---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Experts Live UK',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    title="Experts Live UK - Community conference on Microsoft technologies"
    subtitle="Join us on 20th June 2024, London UK"
    image={{ src: '/images/expertslivemap.jpg', alt: 'Conference Image', width: '700px', height: '300px' }}
    actions={[
      {
        variant: 'primary',
        text: 'Click here to register',
        href: 'https://www.expertslive.co.uk',
      },
    ]}
  >
    <Fragment slot="title">
      Learn from the experts
      <span class="text-accent dark:text-white highlight"> across cloud, data & AI, datacenter, security, and modern workplace</span>
      <p class="font-bold">Date: 20th June 2024</p>
      <p class="font-bold">Location: London, UK</p>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">In person</span> user groups and working towards a huge UK conference.</span>
        Suitable for new learners, established consultants and anyone wanting to learn more.
    </Fragment>
  </Hero>

  
    <!-- Features Widget *************** -->
    <Features
    id="features"
    title="About Experts Live UK?"
    items={[
      {
        title: 'User Group',
        description: 'A quarterly user group based in London, each meeting is themed around a specific topic. It\'s an excellent preparation for our upcoming conference next year, providing continuous learning and networking opportunities.',
      },
      {
        title: 'Conference',
        description: 'A UK-based conference that covers the entire spectrum of Microsoft Technologies. We bring together global talent to share the latest updates and knowledge. It\'s a unique opportunity to learn, network, and get inspired.',
        opportunity: ''
      }
    ]}
  />

  <Features
    title="Why Attend?"
    items={[
      {
        title: 'Learn',
        description: 'From the experts across modern work, platform, security and more.',
      },
      {
        title: 'Network',
        description: 'With peers and Microsoft staff.',
      },
      {
        title: 'Experience',
        description: 'The latest Microsoft technologies.',
      },
    ]}
  />


  <Content title="Sponsors">
    <Fragment slot="content">
      <div class="flex justify-center items-center"> <!-- Add items-center -->
        <div class="flex justify-center flex-col items-center mr-8">
          <img src="/images/advania_uk_logo.jpg" alt="Sponsor 1" class="mx-auto w-50 h-50" />
          <p class="mt-4 text-center">Advania</p>
        </div>
        <div class="flex justify-center flex-col items-center mr-8">
          <img src="/images/performanta_logo.jpg" alt="Performanta" class="mx-auto w-50 h-50" />
          <p class="mt-4 text-center">Performanta</p>
        </div>
        <div class="flex justify-center flex-col items-center">
          <div class="border-2 border-gray-300 w-50 h-50 mx-auto flex items-center justify-center">
            <p>This could be you!</p>
          </div>
        </div>
      </div>
    </Fragment>
  </Content>
  </Layout>
