---
import Features2 from '~/components/widgets/Features2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import user from '~/assets/images/user.webp';
import SteveGoodman from '~/assets/images/stevegoodman.webp';
import AmyBoyd from '~/assets/images/amyboyd.webp';
import logo from '~/assets/images/SquareLogo.png';
import userGroupImage from '~/assets/images/user-group.webp';
import Speakers from '~/components/widgets/Speakers.astro';
import { Image } from 'astro:assets';

const metadata = {
  title: 'About the user group',
};
---
<Layout metadata={metadata}>
  <Hero2
    tagline="Experts Live UK user group"
    title="Unlocking Microsoft Security"
    subtitle="September 19th 2024 at Advania UK office (85 London Wall, London)"
    actions={[
      {
        variant: 'primary',
        text: 'Register for next User Group',
        href: 'https://meetu.ps/e/NqwMc/16jB1l/i'c
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
    image={{
      src: userGroupImage,
      alt: 'Children telling a story. Long-form Sales Landing Page demo',
    }}
  />
  <div class="bg-blue-200 dark:bg-slate-900 my-10">
    <CallToAction
      title="Experts Live UK user group"
      subtitle="Our second user group brings the higely important topic of Microsoft Security  on the 19th of September 2024, we look forward to welcoming the UK Microsoft Community for our next event. This event will be dedicated on the wonders and responsibilities of AI tools. Our speakers will be Amy Boyd from Microsoft and Steve Goodman from Advania UK."
    />
  </div>
  <Speakers
  classes={{
    container: 'py-0 md:py-0 lg:py-0 mt-10',
  }}
  id="speakers"
  speakers={[
    {
      name: 'Amy Boyd',
      company: 'Principal Cloud Advocate, AI Advocacy Lead at Microsoft',
      topic: 'Responsible AI',
      image: AmyBoyd,
      items: [
        {
          description:
            'Introducing your Experts Live UK team who will share what they think matters in the world of AI, especially with Copilot.',
        },
      ],
    },
    {
      name: 'Steve Goodman',
      company: 'Advania',
      topic: 'Build Next Gen agent based AI apps with Microsoft AutoGen',
      image: SteveGoodman,
      items: [
        {
          description:
            'Introducing your Experts Live UK team who will share what they think matters in the world of AI, especially with Copilot.',
          },
      ],
    },
  ]}
/>

<div class="session text-center font-bold text-lg">
  <h2 class="session-title text-3xl">Agenda</h2>
  <ul class="session-speaker">
    <li><strong>17:00 - </strong> First half of England-Denmark live from Euro 2024 (for those that want it)</li>
    <li><strong>17:50 - </strong> Welcome from Experts Live UK Team </li>
    <li><strong>18:05 - </strong> England vs Denmark (second half) with Pizza and tech chat </li>
    <li><strong>19:00 - </strong> Responsible AI with Amy Boyd (Microsoft)</li>
    <li><strong>19:40 - </strong> Build Next Gen agent based AI apps with Microsoft AutoGen with Steve Goodman (Advania)</li>
    <li><strong>20:20 - </strong> Quiz and prizes</li>
    <li><strong>20:30 - </strong> Networking Drinks</li>
  </ul>
</div>


  <Steps2
    title="Our values"
    subtitle="What we hope to achieve."
    items={[
      {
        title: 'Our mission',
        description:
          'Our mission is to ignite a spark of curiosity and the desire to learn, share, and innovate. Whether you’re looking to deepen your expertise, stay ahead of the curve with the latest trends, or simply connect with fellow visionaries, Experts Live UK is your gateway to the future.',
      },
      {
        title: 'Across Microsoft',
        description:
          'As a beacon for those passionate about the vast universe of Microsoft technologies, Experts Live UK offers an unparalleled breadth of coverage. From the core infrastructure of Azure and the productivity suite of Microsoft 365, to the cutting-edge realms of AI and Power Platform, our sessions are curated to provide insights across the entire Microsoft ecosystem.',
      },
      {
        title: 'Together',
        description: 'Let’s explore the possibilities, push boundaries, and redefine what’s achievable together.',
      },
    ]}
  >
    <Image src={user} alt="Experts Live UK" class="w-full rounded-md" slot="image" />
  </Steps2>
  <div class="bg-blue-200 dark:bg-slate-900 py-10">
    <Features2
      classes={{ container: 'text-center' }}
      title="Scheduled events"
      tagline="Find us"
      columns={4}
      items={[
        {
          title: 'June 20th',
          description: 'AI focus',
          callToAction: {
            text: 'Info coming soon',
          },
        },
        {
          title: 'September',
          description: 'Azure Focus',
          callToAction: {
            text: 'Info coming soon',
          },
        },
        {
          title: 'December',
          description: 'Modern Work Focus',
          callToAction: {
            text: 'Info coming soon',
          },
        },
        {
          title: 'March',
          description: 'Power Platform Focus',
          callToAction: {
            text: 'Info coming soon',
          },
        },
      ]}
    />
  </div>
</Layout>
