---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About the user group',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About the user group"
    actions={[
      {
        variant: 'primary',
        text: 'Register for next User Group',
        href: 'https://e.runevents.net/user-group-june-2024/checkout',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: 'https://e.runevents.net/user-group-june-2024' },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> First event: </span>
      June 20th 2024 at Advania UK office (85 London Wall, London) <br /><br />
      <span class="text-accent dark:text-white highlight"> Speakers: </span>
      Amy Boyd talking on Responsible AI and Steve Goodman on AI in the Modern Workplace
    </Fragment>

    <Fragment slot="subtitle">
      Welcome to Experts Live UK User Group – the premier London based user group where the brightest minds in the Microsoft technology sphere converge. Our quarterly gathering is a melting pot of innovation, learning, and collaboration, designed to empower IT professionals, tech enthusiasts, and business leaders alike.
    </Fragment>
  </Hero>

  <Steps2
    title="Our values"
    subtitle="What we hope to achieve."
    items={[
      {
        title: 'Our mission',
        description:
          'Our mission is to ignite a spark of curiosity and the desire to learn, share, and innovate. Whether you’re looking to deepen your expertise, stay ahead of the curve with the latest trends, or simply connect with fellow visionaries, Experts Live UK is your gateway to the future.',
      },
      {
        title: 'Across Microsoft',
        description:
          'As a beacon for those passionate about the vast universe of Microsoft technologies, Experts Live UK offers an unparalleled breadth of coverage. From the core infrastructure of Azure and the productivity suite of Microsoft 365, to the cutting-edge realms of AI and Power Platform, our sessions are curated to provide insights across the entire Microsoft ecosystem.',
      },
      {
        title: 'Together',
        description:
          'Let’s explore the possibilities, push boundaries, and redefine what’s achievable together.',
      },
    ]}
  />


  <Features2
    title="Scheduled events"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'June 20th',
        description: 'AI focus',
        callToAction:{
          title:'Coming soon',
          subtitle: 'We are working on the content of these demo pages. You will see them very soon. Stay tuned Stay tuned!',
          actions: [
          {
            variant: 'primary',
            text: 'Download Template',
            href: 'https://github.com/onwidget/astrowind',
            icon: 'tabler:download',
          },
          ]
        }
      },
      {
        title: 'September',
        description: 'Azure Focus',
      },
      {
        title: 'December',
        description: 'Modern Work Focus',
      },
      {
        title: 'March',
        description: 'Power Platform Focus',
      },
    ]}
  />

</Layout>
