---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About the user group',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About the user group"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Bringing the best experts in Microsoft technology to London with <br />
      <span class="text-accent dark:text-white highlight"> quarterly user group events</span>
    </Fragment>

    <Fragment slot="subtitle">
      Welcome to Experts Live UK User Group – the premier London based user group where the brightest minds in the Microsoft technology sphere converge. Our quarterly gathering is a melting pot of innovation, learning, and collaboration, designed to empower IT professionals, tech enthusiasts, and business leaders alike.
    </Fragment>
  </Hero>

  <Steps2
    title="Our values"
    subtitle="What we hope to achieve."
    items={[
      {
        title: 'Our mission',
        description:
          'Our mission is to ignite a spark of curiosity and the desire to learn, share, and innovate. Whether you’re looking to deepen your expertise, stay ahead of the curve with the latest trends, or simply connect with fellow visionaries, Experts Live UK is your gateway to the future.',
      },
      {
        title: 'Across Microsoft',
        description:
          'As a beacon for those passionate about the vast universe of Microsoft technologies, Experts Live UK offers an unparalleled breadth of coverage. From the core infrastructure of Azure and the productivity suite of Microsoft 365, to the cutting-edge realms of AI and Power Platform, our sessions are curated to provide insights across the entire Microsoft ecosystem.',
      },
      {
        title: 'Together',
        description:
          'Let’s explore the possibilities, push boundaries, and redefine what’s achievable together.',
      },
    ]}
  />


  <Features2
    title="Scheduled events"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'June 20th',
        description: 'AI focus',
      },
      {
        title: 'September',
        description: 'Azure Focus',
      },
      {
        title: 'December',
        description: 'Modern Work Focus',
      },
      {
        title: 'March',
        description: 'Power Platform Focus',
      },
    ]}
  />

</Layout>
